<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
<body>
  <div class="body">
  
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

    <main role="main" class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <%- body %>
          </div>
          <div class="col-md-3">
            <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
              <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
</body>
</html>